{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="loginbox">
        <form method="POST" action="">
            {% csrf_token %}
            {% if succ is not None %}
            <div class="success-info">
                {{succ}}
                <br/>
            </div>
            {% endif %}
            Username or email
            <br/>
            <input type="text" name="username">
            <br/><br/>
            Password
            <br/>
            <input type="password" name="password">
            <br/><br/>
            <input type="submit" value="Log in">
            <br/>
            <div class="error-info">
                {{mess}}
            </div>
            <br/><br/><br/>
            <div class="additions">
                <a href="/register">CREATE ACCOUNT</a>
            </div>
        </form>
    </div>
</body>
</html>