{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>
    {% include "navbar.html" with active_tab='products' %}
    <div class="products-content">
        <div style="height: 200px"></div>
    <form style="float: left" method="GET" action="">
        <input type="text" name="inname" placeholder="Search for products">
        <input type="submit" value="Search">
        <input type="checkbox" name="onlycustom" {% if sustain_check %} checked{% endif %}> Get only your custom products
    </form>
    <form style="float: right" action="create" method="GET">
        <input type="submit" class="create-food" value="Create own custom food">
    </form>
    <div style="clear:both"></div>
    <ul class="products-list">
        <li style="font-weight: bold; border: none; line-height: 300%">
            <div class="product-name"></div>
            <div class="product-value">Kcal</div>
            <div class="product-value">Proteins</div>
            <div class="product-value">Fats</div>
            <div class="product-value">Carbohydrates</div>
        </li>
        <li style="font-weight: bold;">
            <div class="product-name">Name</div>
            <div class="product-value">per 100g</div>
            <div class="product-value">per 100g</div>
            <div class="product-value">per 100g</div>
            <div class="product-value">per 100g</div>
        </li>
        {% for product in products %}
        <li>
            <div class="product-name">{{product.name}}</div>
            <div class="product-value">{{product.energy}}</div>
            <div class="product-value">{{product.protein}}</div>
            <div class="product-value">{{product.fat}}</div>
            <div class="product-value">{{product.carbohydrate}}</div>
        </li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>