{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/addproduct.css' %}">
</head>
<body>
    {% include "navbar.html" %}
    <div style = "height: 150px"></div>
    <div class=add-product-content>
        <form action="/plans/create/{{planId}}/{{edit}}" method="POST">
            {% csrf_token %}
            Your custom plan's name:<br/>
            <input class="add-product-page" type="text" name="name" value="{{displayedCustomPlan.name}}"><br/>
            Calories:<br/>
            <input class="add-product-page" type="text" name="energy" value={{displayedPlan.energy}}><br/>
            Proteins:<br/>
            <input class="add-product-page" type="text" name="protein" value={{displayedPlan.protein}}><br/>
            Fats:<br/>
            <input class="add-product-page" type="text" name="fat" value={{displayedPlan.fat}}><br/>
            Carbs:<br/>
            <input class="add-product-page" type="text" name="carb" value={{displayedPlan.carbohydrate}}><br/>
            Start date:<br/>
            <input class="add-product-page" type="date" name="startDate" value={{startDate}}><br/>
            End date:<br/>
            <input class="add-product-page" type="date" name="endDate" value={{endDate}}><br/>
            {%  if edit == 1 %}
            <input class="add-product-page" type="submit" value="Edit plan">
            {% else %}
            <input class="add-product-page" type="submit" value="Create plan">
            {% endif %}
        </form>
    </div>
    {% if mess %}
    <div style="font-size: 20px; text-align: center; color: #ff0000; margin-top: 6px">{{mess}}</div>
    {% endif %}
</body>
</html>