{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="loginbox">
        <form method="POST" action="">
            {% csrf_token %}
            {% if succ is not None %}
            <div class="success-info">
                {{succ}}
                <br/>
            </div>
            {% endif %}
            Username or email
            <br/>
            <input type="text" name="username">
            <br/><br/>
            Password
            <br/>
            <input type="password" name="password">
            <br/><br/>
            <input type="submit" value="Log in">
            <br/>
            {% if mess %}
            <div class="error-info">
                {{mess}}
            </div>
            {% endif %}
            
            <form action="/register">
                <input type="submit" value="Create account" />
            </form>
            <br/>
            {% if not mess %}
            <div class="additions">
                <a style="font-size: 20px; margin: 0px;pointer-events: none;">or</a>
            </div>
            <br/>
            <form action="/guest">
                <input type="submit" value="View as guest" />
            </form>
            {% endif %}
        </form>
    </div>
</body>
</html>