{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/plan.css' %}">
</head>
<body>
    {% include "navbar.html" with active_tab='plans' %}
    <div style="height: 135px; width: 100%"></div>
    {% include 'display_plan.html' %}
    {% include 'plans_tables.html' %}
    <div style="clear:both"> </div>
</body>
</html>