.products-content {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  color: white;
  width: 80%;
}

.products-content input[type=text] {
  margin-top: 10px;
    width: 500px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #2a3c33;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 5px;
}

.products-content input[type=submit] {
  margin-top: 10px;
    width: 140px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #2a3c33;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.products-content input[type=checkbox] {
    width: 30px;
    height: 30px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #2a3c33;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 20px;
}

.products-content input[type=checkbox]:checked {
  color: gray;
}

.products-content input[type=submit].create-food {
  margin-top: 10px;
    width: 280px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #2a3c33;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

ul.products-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.35rem;
  width: 100%;
}

ul.products-list li {
  border-bottom: 1px solid white;
  width: 100%;
  margin: 0;
  padding: 0.3rem 0;
  text-align: left;
  float: left;
}

ul.products-list li .product-name {
  float: left;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  width: 40%;
}

ul.products-list li .product-value {
  float: left;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  width: 12%;
}

ul.products-list li .product-icons {
  float: left;
  text-align: right;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  letter-spacing: 1rem;
  width: 12%;
}

ul.products-list li .product-icons a {
  text-decoration: none;
  color: white;
}

ul.products-list li .product-icons a:hover {
  color: lightgray;
}

